<html>
  <head>
    <title>Twigs</title>

    <link rel="stylesheet" href="/styles.css"></link>
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  </head>

  <body id="home">
    <h1><a href="/">twigs</a></h1>

    <div class="column">
      <section>
        <h2>Core Data Model</h2>
        <p>The core data model defines the building blocks for cyber threat intelligence. It consists of a set of top-level objects representing concepts in CTI and defines relationships between those objects.</p>
        <br />
        <table id="components-list">
          <thead>
            <tr>
              <th>Component</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% @top_level_components.each do |component| %>
              <tr>
                <td><a href="<%= component[:link] %>"><%= component[:title] %></a></td>
                <td><%= component[:description] %></td>
              </tr>
            <% end %>
        </table>
      </section>
    </div>
  </body>
</html>
